.simulation-section {
  background: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  position: relative;
}

.simulation,
.form {
  flex: 1 1 600px;
  padding: 60px;
  width: 100px;
}

.form h1 {
  font-size: 24px;
  font-weight: 700;
  color: #303960;
  margin-bottom: 10px;
}
.form p {
  text-align: left;
  font-size: 18px;
}
.form-label {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  display: block;
  color: #303960;
}
.form-widget-container {
  margin: 20px 0;
}
.form-widget {
  background-color: #e5e5e5;
  border: 0;
  padding: 15px 20px;
  width: 60%;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 18px;
  outline: none;
  display: block;
  color: #303960;
  transition: background 0.2s ease;
}
.form-widget:hover {
  background: #303960;
  color: white;
}
.form-widget:focus {
  background: #303960;
  color: white;
}
.form-label-small {
  font-size: 18px;
  color: #303960;
}
.form-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  margin: 60px 0;
}
.form-flex {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.form-dropdown {
  color: #303960;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.btn-submit {
  background-color: #f8b24f;
  border: none;
  border-radius: 10px;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 700;
  outline: none;
  cursor: pointer;
  padding: 15px 50px;
  box-shadow: 0px 0px 0px 0px #f8b24f;
  transition: 0.3s;
}
.btn-submit:hover {
  box-shadow: 0px 10px 0px 0px #ca9141;
}

.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.342);
}

.noscroll {
  background: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  position: relative;
  overflow: hidden;
}

.simulation {
  display: flex;
  flex-direction: column;
}

div.error {
  position: relative;
  background: rgb(226, 70, 70);
  width: 120px;
  height: 5px;
  border-radius: 20px;
  margin-top: 8px;
}

input.form-widget[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input.form-widget[type="number"]::-webkit-inner-spin-button,
input.form-widget[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

@media only screen and (max-width: 748px) {
  .form h1 {
    font-size: 18px;
    margin-top: 0;
  }
  .form p {
    font-size: 14px;
  }
  .btn-submit {
    padding: 10px 30px;
    font-size: 16px;
  }
  .form-label {
    font-size: 14px;
  }
  .form-widget {
    padding: 10px 15px;
    width: 100%;
  }
  .form-dropdown {
    height: 47px;
  }
  .form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin: 0;
    margin-top: 60px;
    margin-bottom: 20px;
    width: 75%;
    margin: auto;
  }
  .simulation,
  .form {
    flex: 1 1 600px;
    padding: 30px;
    width: 100px;
  }
}
